/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
	padding-top: 50px;
	padding-bottom: 20px;
	background-image: url(background.jpg);
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.poze-galerie{
	margin-top: 5%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.container1 {
    width: 900px;
    margin: 250px auto 0;
    display: flex;
}

    .container1 .box1 {
        position: relative;
        width: 300px;
        height: 100px;
        box-sizing: border-box;
        text-align: center;
        margin: 0 10px;
        overflow: hidden;
        border-radius: 4px;
        box-shadow: 0 0 0 2px rgba(0,7,10,1);
    }

        .container1 .box1 .icon {
            width: 100%;
            height: 100%;
            background: #00171d;
            transition: 0.5s;
        }

            .container1 .box1 .icon .fa {
                font-size: 4em;
                line-height: 100px;
                color: #0ff;
            }

        .container1 .box1:hover .icon {
            transform: scale(0);
        }

        .container1 .box1 .details {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #03a9f4;
            transition: 0.5s;
            transform: scale(2);
            opacity: 0;
        }

        .container1 .box1:hover .details {
            transform: scale(1);
            opacity: 1;
        }

        .container1 .box1 .details h3 {
            margin: 0;
            padding: 0;
            line-height: 100px;
            font-size: 24px;
            color: #fff;
        }

        .container1 .box1 .details:nth-child(2) .details {
            background: #e91e63;
        }

        .container1 .box1 .details:nth-child(2) .details {
            background: #607d8b;
        }


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
